.Track {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

.trackButtonContainer {
    grid-column: 2;
    justify-self: end;
}

.trackButton{
    background: none;
    font-size: 60px;
    font-weight: 300;
    padding: 0px;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.trackAdd{
    color: var(--accent);
}

.trackRemove{
    color: var(--WarningRed);
}

.artist{
    color: var(--Secondary);
}

hr {
    border-color: var(--Secondary);
}