.searchTitle {
  grid-area: searchTitle;
}

.searchInput {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--Text);
  width: 100%;
  background-color: var(--secondaryBackground);

}

.searchInputContainer {
  background-color: var(--secondaryBackground);
  grid-area: searchInput;
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  padding-right: 40px;
}

.searchInput:hover {
  border: var(--accent) solid 1px;
}

.searchInput:focus {
  border: var(--accent) solid 2px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}