@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:wght@100..700&display=swap');

body {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--background);
  color: var(--Text);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Noto Sans';
  font-weight: 300;
  margin: 0;
}

html {
  font-size: 100%;
}

/* 16px */

h1 {
  font-size: 4.210rem;
  /* 67.36px */
}

h2 {
  font-size: 3.158rem;
  /* 50.56px */
}

h3 {
  font-size: 2.369rem;
  /* 37.92px */
}

h4 {
  font-size: 1.777rem;
  /* 28.48px */
}

h5 {
  font-size: 1.333rem;
  /* 21.28px */
}

small {
  font-size: 0.750rem;
  /* 12px */
}


:root {
  --accent: #40DD8F;
  --background: #FEFCF6;
  --secondaryBackground: #F6F4EE;
  --primary: #EEBD1B;
  --Secondary: #7BAFE0;
  --Text: #171002;
  --WarningRed: #EF3E36;
}

.gridContainer {
  margin: 0 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 93px 70px 60px 650px 150px;
  row-gap: 25px;
  column-gap: 500px;
  grid-template-areas:
    'title .'
    'searchTitle playlistTitle'
    'searchInput PlaylistNameInput'
    'searchResults Playlist'
    '. saveButton';

}

.title {
  grid-area: title;
}

@supports (-webkit-background-clip: text) {

  /* Only for browsers that support it */
  .titleHighlight {
    background: linear-gradient(to right, var(--primary), var(--accent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}

.titleHighlight {
  color: var(--primary);
  /* Fallback */
}

/* Text inputs */

input {

  font-size: 1rem;
  border: none;
  padding: 20px;
}


input:focus-visible {
  outline: none;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  /* width: 10px; Set the width of the scrollbar */
}

/* Target the track (the background of the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--secondaryBackground);
  /* Set the track color */
}

/* Target the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: var(--accent);
  /* Set the thumb color */
  border-radius: 5px;
  /* Add some rounding to the thumb */
}

/* Target the scrollbar */
* {
  scrollbar-color: var(--accent) var(--secondaryBackground);
  /* Set thumb color and track color */
}