.gridContainer {
  margin: 0 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 93px 70px 60px 650px 150px;
  row-gap: 25px;
  column-gap: 500px;
  grid-template-areas:
    'title .'
    'searchTitle playlistTitle'
    'searchInput PlaylistNameInput'
    'searchResults Playlist'
    '. saveButton';

}

.title {
  grid-area: title;
}